# --- Maven y Compilación ---
target/
!.mvn/wrapper/maven-wrapper.jar
.kotlin

# --- IntelliJ IDEA (Corregido) ---
.idea/
*.iws
*.iml
*.ipr
out/

# --- Eclipse ---
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# --- NetBeans ---
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

# --- VS Code ---
.vscode/

# --- Sistemas Operativos ---
.DS_Store
Thumbs.db